.content-container__oauth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
}

.content-container__oauth--imagesGroup {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 64%;
}

.content-container__oauth--imagesGroup img {
    cursor: pointer;
}

.toggle {
    color: #828282;
    text-align: center;
}
.toggleLink{
    color: #6B9BDD;
    margin-left: 5px;
    cursor: pointer;
}